body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.grilleImage {
    max-width: 100px;
    height: auto;
}

.metadata {
    color: white;
    text-align: center;
}